Source: ros-kinetic-sainsmart-relay-usb
Section: misc
Priority: extra
Maintainer: Kevin Hallenbeck <khallenbeck@dataspeedinc.com>
Build-Depends: debhelper (>= 9.0.0), libftdi-dev, ros-kinetic-catkin, ros-kinetic-roscpp, ros-kinetic-std-msgs
Homepage: http://wiki.ros.org/sainsmart_relay_usb
Standards-Version: 3.9.2

Package: ros-kinetic-sainsmart-relay-usb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libftdi-dev, ros-kinetic-roscpp, ros-kinetic-std-msgs
Description: SainSmart USB relay driver controller
